[user]
    email = rubanprakash@hotmail.com
    name = Ruban Prakash
[credential]
    helper = cache --timeout=18000
[core]
    excludesfile = ~/.gitignore
[init]
    defaultBranch = main
[advice]
    statusHints = off
[color]
	ui = auto
[alias]
	unstage = restore --staged
  logone = log --oneline
  fixup = !sh -c 'REV=$(git rev-parse $1) && git commit --fixup $@ && git rebase -i --autostash --autosquash $REV^' -
